<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvRUElpX4xbcGsCKoKoD9U9K0PEt7tyHk</string>
	<key>GCM_SENDER_ID</key>
	<string>127578171147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glucode.Crunch-App</string>
	<key>PROJECT_ID</key>
	<string>crunch-app-6889a</string>
	<key>STORAGE_BUCKET</key>
	<string>crunch-app-6889a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127578171147:ios:ab93d253088b73629a640e</string>
</dict>
</plist>